# Ignore node_modules directory
# Node.js dependencies
node_modules/
# Build output
dist/
# Logs
logs/
# Environment variables
.env
# IDE specific files
.idea/
# .vscode directory
.vscode/
# Combined Log Files
*combined.log